{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NeerVaani{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo-black.png' %}" type="image/x-icon" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
    <script src="{% static 'js/languageSwitcher.js' %}" defer></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Slick JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <nav class="navbar">
        <div class="left-nav">
            <img class="logo-img" src="images/logo.png" alt="" />
            <h3>
                <span class="head1">Neer</span>
                <span class="head2">Vaani</span>
            </h3>
        </div>
        <div class="mid-nav">
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'dashboard' %}">DASHBOARD</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="{% url 'services' %}">SERVICES</a></li>
            </ul>
        </div>
        <div class="right-nav">
            <ul>
                <li><a href="login.html" target="_blank">LOGIN</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}

        {% endblock %}

       
        
            <label for="languageSelect">Select Language:</label>
            <select id="languageSelect">
                
                <option value="as">Assamese</option>
                <option value="bn">Bengali</option>
                <option value="en" selected>English</option>
                <option value="gom">Konkani</option>
                <option value="gu">Gujarati</option>
                <option value="hi">Hindi</option>
                <option value="kn">Kannada</option>
                <option value="ks">Kashmiri</option>
                <option value="mai">Maithili</option>
                <option value="ml">Malayalam</option>
                
                <option value="mr">Marathi</option>
                <option value="ne">Napali</option>
                <option value="or">Oriya</option>
                <option value="pa">Panjabi</option>
                <option value="sa">Sanskrit</option>
                <option value="sd">Sindhi</option>
                <option value="ta">Tamil</option>
                <option value="te">Telugu</option>
                <option value="ur">Urdu</option>

            </select>
        
        
    
        <script src="{% static 'js/language.js' %}"></script>
        <script src="https://code.responsivevoice.org/responsivevoice.js?key=9NfiQptY"></script>
        

    </main>

    <!-- Start of ChatBot (www.chatbot.com) code -->
<script>
    window.__ow = window.__ow || {};
    window.__ow.organizationId = "7ad148cb-e887-4601-9ae9-cb6f8e6b1638";
    window.__ow.template_id = "ca8ddcc8-0b7a-4e99-a8c6-b506217bd083";
    window.__ow.integration_name = "manual_settings";
    window.__ow.product_name = "chatbot";   
    ;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[OpenWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.openwidget.com/openwidget.js",t.head.appendChild(n)}};!n.__ow.asyncInit&&e.init(),n.OpenWidget=n.OpenWidget||e}(window,document,[].slice))
  </script>
  <noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
  <!-- End of ChatBot code -->
</body>
</html>




